.footer {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}


@media screen and (min-width: 600px) {
	.footer {
		position: fixed;
		bottom: 0;
	}
}